
/* Estilos para los INPUTS del <Home /> */
.inputCarrera {
  outline: none;
  padding: 10px 15px;
  border: 1px solid rgb(151, 151, 151);
  border-radius: 4px;
  font-size: 1.1rem;
}

/* Estilos para los INPUTS del <Login /> */
.labelRegistro {
  font-size: 1.3rem;
}

.inputRegistro {
  padding: 10px 15px;
  font-size: 1.1rem;
  outline: none;
  border: 1px solid rgb(151, 151, 151);
  border-radius: 4px;
  transition: border 0.3s ease-in-out;
}

.inputRegistro:focus {
  border: 1px solid #0f3f73;
}