header {
    background-color: #071c33;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  }
  
  ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 18px 20px;
    gap: 25px;
  }
  
  a {
    text-decoration: none;
  }
  
  .left-align {
    margin-right: auto;
  }
  
  .right-align {
    margin-left: auto; 
    margin-right: 5%;
  }

.busque {
    display: flex;
    align-items: center;
    margin-right: 500px;
  }
  
  .contenedor-input1,
  .contenedor-select1 {
    margin-right: 20px;
  }
  
  .input-carrera1,
  .input-lugar1 {
    width: 100%;
    border-radius: 10px;
    height: 40px;
  }
  .contenedor-input1 {
    position: relative;
  }
  
  .input-carrera1 {
    padding-right: 40px; 
  }
  
  .icono-boton {
    position: absolute;
    top: 50%;
    right: 10px; 
    transform: translateY(-50%); 
    width: 30px; 
    height: 30px; 
    background-image: url('/img/buscar.png'); 
    background-size: cover; 
    border: none; 
    cursor: pointer;
  }
  .enlace-blanco {
    color: white;
  }
  
  
  