.header {
    background-color: #071c33;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    height: 75px;
    display: flex;
    align-items: center;
}

.lista {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    gap: 25px;

}

.enlace {
    text-decoration: none;
    color: white;
}

/* Estilos NavbarCompany */