.header {
  background-color: #071c33;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.6);
  height: 75px;
  display: flex;
  align-items: center;
}

.nav {
  width: 100%;
}

.lista {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  /* gap: 40px; */
}

.enlace {
  text-decoration: none;
  color: white;
  transition: font-weight 0.2s ease-in-out;
  transition: text-shadow 0.2s ease-in-out;
}

.itemNavbar {
  transition: scale 0.3s ease-in-out;
}

.itemNavbar:hover {
  scale: 1.1;
}

.activo {
  font-weight: 300;
  text-shadow: 0 0 10px rgba(255, 255, 255, 1);
  
}

/* Esta clase va para al <div> que contendrá a los Elementos que deben ir a la Izquierda -> Por ejemplo: El Logo */
.leftItems {
  display: flex;
  gap: 40px;
}

/* Esta clase va para al <div> que contendrá a los Elementos que deben ir a la Derecha -> Por ejemplo: Registrarse, Inciar Sesión */
.rightItems {
  display: flex;
  gap: 20px;
  /* border: 1px solid yellow; */
  margin-left: auto;
  margin-right: 35px;
}
.centerItems {
  display: flex;
  flex-direction: column; /* Alinea los elementos verticalmente */
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

/* Estilos NavbarCompany */

/* Estilos NavbarPostulant */
.busque {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form {
  display: flex;
  align-items: center;
}
.searchButton {
  margin-right: 5px; 
}

.inputLugar1 {
  width: 40%;
  border-radius: 10px;
  height: 40px;
  padding-right: 40px;
  margin-right: 5px;
}
.inputCarrera1 {
  padding-right: 40px;
  width: 100%;
  border-radius: 10px;
  height: 40px;
  margin-right: 5px;
  margin-left: 0px;
}
