.header {
  background-color: #071c33;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.6);
  height: 75px;
  display: flex;
  align-items: center;
}

.nav {
  width: 100%;
}

.lista {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  /* gap: 40px; */
}

.enlace {
  text-decoration: none;
  color: white;
}

.itemNavbar {
  transition: scale 0.3s ease-in-out;
}

.itemNavbar:hover {
  scale: 1.1;
}

.activo {
  font-weight: 300;
  text-shadow: 0 0 10px;
  transition: all 0.2s ease-in-out;
}

/* Esta clase va para al <div> que contendrá a los Elementos que deben ir a la Izquierda -> Por ejemplo: El Logo */
.leftItems {
  display: flex;
  gap: 40px;
}

/* Esta clase va para al <div> que contendrá a los Elementos que deben ir a la Derecha -> Por ejemplo: Registrarse, Inciar Sesión */
.rightItems {
  display: flex;
  gap: 20px;
  /* border: 1px solid yellow; */
  margin-left: auto;
  margin-right: 35px;
}

/* Estilos NavbarCompany */

/* Estilos NavbarPostulant */
.busque {
  display: flex;
  align-items: center;
  margin-right: 500px;
}

.contenedor-input1,
.contenedor-select1 {
  margin-right: 20px;
}

.inputCarrera1,
.input-lugar1 {
  width: 100%;
  border-radius: 10px;
  height: 40px;
}
.input-carrera1 {
  padding-right: 40px;
}

.iconoBoton {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-image: url("/img/buscar.png");
  background-size: cover;
  border: none;
  cursor: pointer;
}
