.contenedorLogin {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 88vh;
}

.contenedorTitulo {
  /* border: 1px solid blue; */
  margin-bottom: 2rem;
  text-align: center;
}

.formLogin {
  width: 45%;
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  min-width: 500px;
}

.contenedorInput {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  width: 80%;
}

.contenedorBoton {
  width: 70%;
  /* border: 1px solid green; */
  display: flex;
  justify-content: center;
}

.botonIngresar {
  width: 60%;
  max-width: 200px;
  min-width: 100px;
  font-size: 1.1rem;
  padding: 8px 0;
}

.fontSize {
  font-size: 1.1rem;
}